<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.boulevard.uitestingarticle">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.TestMainActivity"/>
    </application>

</manifest>
